In [64]:
import pandas as pd

In [65]:
StuName = ['aarti', 'anjali', 'priya', 'shivanee', 'astha',
           'aditi', 'vaishnavi', 'megha', 'srashti', 'Kashish']
StuMarks = [35, 39, 27, None, 29, 29, None, 40, None, 28]

In [66]:
marks = pd.Series(StuMarks,StuName)
marks

aarti        35.0
anjali       39.0
priya        27.0
shivanee      NaN
astha        29.0
aditi        29.0
vaishnavi     NaN
megha        40.0
srashti       NaN
Kashish      28.0
dtype: float64

In [67]:
marks['aditi']

29.0

In [68]:
marks[4]

C:\Users\Jash\AppData\Local\Temp\ipykernel_21892\563128922.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  marks[4]

29.0

In [69]:
marks.isna()

aarti        False
anjali       False
priya        False
shivanee      True
astha        False
aditi        False
vaishnavi     True
megha        False
srashti       True
Kashish      False
dtype: bool

In [70]:
marks.mean()

32.42857142857143

In [71]:
marks.median()

29.0

In [72]:
marks.mode()

0    29.0
dtype: float64

In [73]:
marks[marks >= 28]

aarti      35.0
anjali     39.0
astha      29.0
aditi      29.0
megha      40.0
Kashish    28.0
dtype: float64

In [74]:
marks[marks < 28]

priya    27.0
dtype: float64

In [75]:
(marks/40)*100

aarti         87.5
anjali        97.5
priya         67.5
shivanee       NaN
astha         72.5
aditi         72.5
vaishnavi      NaN
megha        100.0
srashti        NaN
Kashish       70.0
dtype: float64

In [78]:
marks.fillna(marks.mean(), inplace=True)

In [79]:
marks

aarti        35.000000
anjali       39.000000
priya        27.000000
shivanee     32.428571
astha        29.000000
aditi        29.000000
vaishnavi    32.428571
megha        40.000000
srashti      32.428571
Kashish      28.000000
dtype: float64

In [80]:
(marks/40)*100

aarti         87.500000
anjali        97.500000
priya         67.500000
shivanee      81.071429
astha         72.500000
aditi         72.500000
vaishnavi     81.071429
megha        100.000000
srashti       81.071429
Kashish       70.000000
dtype: float64

In [81]:
marks

aarti        35.000000
anjali       39.000000
priya        27.000000
shivanee     32.428571
astha        29.000000
aditi        29.000000
vaishnavi    32.428571
megha        40.000000
srashti      32.428571
Kashish      28.000000
dtype: float64

In [ ]:
marks.apply(lambda x: (x/40)*100)

aarti         87.500000
anjali        97.500000
priya         67.500000
shivanee      81.071429
astha         72.500000
aditi         72.500000
vaishnavi     81.071429
megha        100.000000
srashti       81.071429
Kashish       70.000000
dtype: float64

In [85]:
marks

aarti        35.000000
anjali       39.000000
priya        27.000000
shivanee     32.428571
astha        29.000000
aditi        29.000000
vaishnavi    32.428571
megha        40.000000
srashti      32.428571
Kashish      28.000000
dtype: float64

In [ ]:
Values = [26, 89, 60, 41, 29, 15, 45, 65, 89, 71, 9, 88, 1, 8, 88, 63, 11, 81, 83, 5, 35, 33, 5, 41, 28, 7, 73, 72, 12, 34, 33, 48, 23, 62, 88, 37, 99, 44, 86, 91, 35, 65, 99, 47, 78, 3, 1, 5, 90, 14,
          27, 9, 79, 15, 90, 42, 77, 51, 63, 96, 52, 96, 4, 94, 23, 15, 43, 29, 36, 13, 32, 71, 59, 86, 28, 66, 42, 45, 62, 57, 6, 28, 28, 44, 84, 30, 62, 75, 92, 89, 62, 97, 1, 27, 62, 77, 3, 70, 72, 27]